{% extends 'base_template.html' %}

{% block add_publisher %}

<div id="addPublisher-Form">
    <h1>Add Publisher</h1>
    <form method="post">
    {% csrf_token %}
    <table name="addPublisher-table">
        <tr>
            <th>
                {{addPublisher_form.name.label_tag}}
            </th>
            <td>
               {{addPublisher_form.name}}
            </td>
            <th rowspan="3">{{addPublisher_form.blurb.label_tag}}</th>
            <td rowspan="3">{{addPublisher_form.blurb}}</td>
        </tr>
        <tr>
            <th>
                {{addPublisher_form.link.label_tag}}
            </th>
            <td>
               {{addPublisher_form.link}}
        </tr>
        <tr>
            </td>
            <th>
                {{addPublisher_form.image_url.label_tag}}
            </th>
            <td>
               {{addPublisher_form.image_url}}
            </td>
        </tr>
    </table>
    <button type="submit" name="submitPublisher">Add Publisher</button>
    </form>
<br><br>
</div>
{{addCampaign_form.media}}
{% endblock add_publisher %}