{% extends 'base_template.html' %}

{% block edit-pc %}
<div id="editPC-Form">
<h1>Edit PC</h1>
<form method="post">
{% csrf_token %}
<table name="editPC_form">
    <tr>
        <th>
            {{form.name.label_tag}}
        </th>
        <td>
           {{form.name}}
        </td>
        <th>
           {{form.played_by.label_tag}}
        </th>
        <td>
           {{form.played_by}}
        </td>
        <th>
           {{form.member_of.label_tag}}
        </th>
        <td>
           {{form.member_of}}
        </td>
    </tr>
    <tr>
        <th>
            {{form.fandom_page.label_tag}}
        </th>
        <td>
            {{form.fandom_page}}
        </td>
        <th>
            {{form.image_url.label_tag}}
        </th>
        <td>
           {{form.image_url}}
        </td>
        <th>
            {{form.guest_of.label_tag}}
        </th>
        <td>
           {{form.guest_of}}
        </td>
    </tr>
    <tr>
        <th>Blurb:</th>
        <td colspan="4">{{form.blurb}}</td>
    </tr>
</table>
<button type="submit">Edit PC</button>
</form>
<br><br>
</div>
{{form.media}}
{% endblock edit-pc %}