{% extends 'base_template.html' %}

{% block edit-producer %}
<div id="editProducer-Form">
<h1>Edit Producer</h1>
<form method="post">
{% csrf_token %}
<table name="editProducer_form">
    <tr>
        <th>
            {{form.name.label_tag}}
        </th>
        <td>
           {{form.name}}
        </td>
        <th>
           {{form.campaigns.label_tag}}
        </th>
        <td>
           {{form.campaigns}}
        </td>
    </tr>
    <tr>
        <th>
            {{form.website.label_tag}}
        </th>
        <td>
            {{form.website}}
        </td>
        <th>
            {{form.image_url.label_tag}}
        </th>
        <td>
           {{form.image_url}}
        </td>
    </tr>
    <tr>
        <th>Blurb:</th>
        <td colspan="4">{{form.blurb}}</td>
    </tr>
</table>
<button type="submit">Edit Producer</button>
</form>
<br><br>
</div>
{{form.media}}
{% endblock edit-producer %}