{% extends 'base_template.html' %}

{% block edit-actor %}
<div id="addActor-Form">
<h1>Edit Actor</h1>
<form method="post">
{% csrf_token %}
<table name="editActor_form">
    <tr>
        <th>
            {{form.name.label_tag}}
        </th>
        <td>
           {{form.name}}
        </td>
        <th>
           {{form.characters.label_tag}}
        </th>
        <td>
           {{form.characters}}
        </td>
    </tr>
    <tr>
        <th>
            {{form.link.label_tag}}
        </th>
        <td>
            {{form.link}}
        </td>
        <th>
            {{form.image_url.label_tag}}
        </th>
        <td>
           {{form.image_url}}
        </td>
    </tr>
    <tr>
        <th>Blurb:</th>
        <td colspan="4">{{form.blurb}}</td>
    </tr>
</table>
<button type="submit">Edit Actor</button>
</form>
<br><br>
</div>
{{form.media}}
{% endblock edit-actor %}