{% extends 'base_template.html' %}

{% block edit-party %}
<div id="editParty-Form">
<h1>Edit Party</h1>
<form method="post">
{% csrf_token %}
<table name="editParty_form">
    <tr>
        <th>
            {{form.name.label_tag}}
        </th>
        <td>
           {{form.name}}
        </td>
        <th>
           {{form.members.label_tag}}
        </th>
        <td>
           {{form.members}}
        </td>
    </tr>
    <tr>
        <th>
            {{form.fandom_page.label_tag}}
        </th>
        <td>
            {{form.fandom_page}}
        </td>
        <th>
            {{form.image_url.label_tag}}
        </th>
        <td>
           {{form.image_url}}
        </td>
    </tr>
    <tr>
        <th>Blurb:</th>
        <td colspan="4">{{form.blurb}}</td>
    </tr>
</table>
<button type="submit">Edit Party</button>
</form>
<br><br>
</div>
{{form.media}}
{% endblock edit-party %}