{% load static %}
<head>
{#    my stylesheet   #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{#    bootstrap   #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="column text_left with-border_right">
            <h1 class="dark">Dimension 20</h1>
            <img class="card-image_lg with_subtitle" src="static/images/default-rect-img.png">
            <a class="subtitle dark" href="">Edit Producer</a>
            <p class="dark description_model-page">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="double_column flex_start">
            <div class="d-flex flex-row justify-content-end" style="width: 100%">
                <div>
                    <button>Follow</button>
                </div>
            </div>
            <h2 class="dark text_left">Campaigns:</h2>
            <div class="card_campaign_model-page">
                <div class="card_body">
                    <div class="row">
                        <div class="column width_lg">
                            <img class="card-image_rect" src="https://vhx.imgix.net/chuncensoredstaging/assets/3c71efd9-a336-436f-9df6-cd3dacb92a93-0046ae35.jpg?auto=format%2Ccompress&fit=crop&h=360&q=70&w=640">
                        </div>
                        <div class="triple_column width_lg">
                            <h2 class="card-title_database with_subtitle">Fantasy High</h2>
                            <h6 class="no-margin">Produced By: <u>Dimension 20</u></h6>
                            <h6 class="no-margin">System(s): <u>DnD 5e</u>, <u>Good Society</u></h6>
                            <h6 class="no-margin">Featuring: <u>The Bad Kids</u></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_campaign_model-page">
                <div class="card_body">
                    <div class="row">
                        <div class="column width_lg">
                            <img class="card-image_rect" src="https://static.wikia.nocookie.net/fantasy-high/images/0/06/Dropoutd20live.png/revision/latest/scale-to-width-down/675?cb=20200508114753">
                        </div>
                        <div class="double_column width_lg">
                            <h2 class="card-title_database with_subtitle">Fantasy High: Sophomore Year</h2>
                            <h6 class="no-margin">Produced By: <u>Dimension 20</u></h6>
                            <h6 class="no-margin">System(s): <u>DnD 5e</u>, <u>Good Society</u></h6>
                            <h6 class="no-margin">Featuring: <u>The Bad Kids</u></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_campaign_model-page">
                <div class="card_body">
                    <div class="row">
                        <div class="column width_lg">
                            <img class="card-image_rect" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScw--76BCzACXyWXoPA6WIJtCY-NaY45t6N2klHVdvHw&s">
                        </div>
                        <div class="triple_column width_lg">
                            <h2 class="card-title_database with_subtitle">Fantasy High: Junior Year</h2>
                            <h6 class="no-margin">Produced By: <u>Dimension 20</u></h6>
                            <h6 class="no-margin">System(s): <u>DnD 5e</u>, <u>Good Society</u></h6>
                            <h6 class="no-margin">Featuring: <u>The Bad Kids</u></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Boostrap Scripts -->
<div id="boostrap-scripts">
<!-- Bootstrap Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</div>

</body>