{% extends 'base_template.html' %}

{% block crudevent %}
    {% if crud_event.event_type == 6 %}
        <h3>
            The following {{ changed_field_name }} have been added to {{ instance_type }}
            '<a href=/database/{{ instance_type_model }}/{{ crud_event.updated_instance_id }}>{{ crud_event.instance_name_str }}</a>'
        </h3>
    {% endif %}
    <p>
        <ul>
            {% for item in changed_instances %}
                <li>
                    <a href=/database/{{ changed_field_type_model }}/{{ item.id }}>{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </p>
{% endblock crudevent %}