/* -------------- Default and Top Level Properties --------------*/
h1, h2, h3, h4, h5, h6, p, li {
    color: aquamarine !important;
    margin-top: 2%;
    margin-bottom: 2%;
}

.dark {
    color: #262322 !important;
}

.light-background {
    background-color: #4ab08e!important;
}

.dark-background {
    background-color: #262322 !important;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.with_subtitle {
    margin-bottom: 0!important;
    padding: 0!important;
}

.subtitle {
    font-size: small;
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
  color: aquamarine !important;
}

a.subtitle {
    font-size: small;
    text-align: center;
    margin: 0 0 5%;
}

a:visited {
  color: #4ab08e !important;
}

a.database-header-link:link {
    color: #2d2929!important;
    display: flex;
    justify-content: flex-end;
    margin: 1%}
a.database-header-link:visited {color: #262322!important;}

body {
    background-color: #262322 !important;
}

.body-container {
    width: 70%!important;
    margin: auto;
    background-color: mediumaquamarine;
}

hr {
    width: 100%;
    border: 1px solid #262322;
    padding: 0;
    margin: 0;
}

.select2-selection__choice, .select2-search {
    color: #262322!important;
}

p.alert_message {
    background-color: aquamarine;
    color: #262322 !important;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
}

.filter-label {
    color: #4ab08e;
}

    /* -------------- Tables and Elements --------------*/

table, td, th {
    border: solid aquamarine 1px !important;
}

table{
    width: 95%;
    border-collapse: collapse;
    background-color: #262322;
    align-self: center;
    color: aquamarine;
}

th {
    text-align: right;
}

th, td {
    padding: 1%;
}

th.table_title {
    font-size: x-large;
    text-align: center;
}

td.center{
    text-align: center;
}



/* -------------- Model Elements --------------*/
.model-img {
    width: 100%;
}

/* -------------- Card and Card Elements --------------*/
.card {
    margin: auto;
    background-color: #262322;
    color: aquamarine;
    contain: content;
}

.card-col {
}

.campaign-card {
    max-height: 350px;
}

.card-body {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0!important;
}

.card-body-md {
    width: 100%;
    height: 260px;
    margin: 0;
    padding: 0!important;
}

.card_sm {
    width: 200px;
    height: 150px;
    margin: auto;
    background-color: #262322;
    color: aquamarine;
}

.card_md {
    width: 95%;
    height: 200px!important;
    margin: auto;
    background-color: #262322;
    color: aquamarine;
}

.card_md-sq {
    width: 95%;
    width: 200px!important;
    height: 150px;
    margin: auto;
    background-color: #262322;
    color: aquamarine;
}

.card-img_sm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 25%;
}

.card-img_sm-rect {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: 0 25%;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    padding: 1% 1%;
    margin: 3% 1%;
}


.card-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
}


.search-card-header {
    text-align: center;
    font-size: large;
    background-color: #2d2929;
}


.overflow-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
}

.card-button-sm {
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.page-buttons {
    display: flex;
    justify-content: space-between;
}

.page-buttons_form {
    padding: 1%;
    background-color: #262322;
}

.card-title {
    text-align: center;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    padding: 1%;
}

.grid_one-row {
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-flow: column;
    grid-gap: 2%;
    overflow-x: scroll;
    background-color: mediumaquamarine;
    padding: 1%;
    margin: auto;
    min-height: 200px;
    max-height: 250px;
    border: solid mediumaquamarine 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 1%;
    grid-row-gap: 5%;
    padding: 10px;
    overflow: scroll;
    column-count: 3;
}

.watchlist-grid__item {
    display: block;
    background-color: #537A5A;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    text-align: center;
}

.watchlist-card {
    background-color: #537A5A;
    margin: auto;
    margin-bottom: 5%;
    width: 100%
}









