{% extends 'base_template.html' %}
{% block pc_page %}
<div class="body-container">
    <div class="row no-gutters">
        <form method="post">
            {% csrf_token %}
            <div class="page-buttons">
                <button name="previousEnt" type="submit">Previous PC</button>
                <button name="nextEnt" type="submit">Next PC</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="row no-gutters">
        <div class="col-5">
            <h1 class="dark">{{ pc.name }}</h1>
            <img class="model-img" src={{ pc.image_url }}>
            <a class="subtitle" href='#'>Edit PC</a>
            <p class="dark">{{ pc.blurb }}</p>
        </div>
        <div class="col-7">
            <div class="card-buttons">
                <button>Follow PC</button>
            </div>
            <h2 class="dark">Portrayed By:</h2>
            {% for actor in pc.played_by.all %}
                <div class="card_md rounded-start dark-background" >
                    <div class="row" style="max-width: 100%; height: inherit">
                        <div class="col-md-5 my-auto">
                            <img class="img-fluid rounded-start" style="width:200px; height: 200px; object-fit: cover;" src={{ actor.image_url }}>
                        </div>
                        <div class="col-md-7 my-auto">
                            <div class="card-body" style="height: inherit; position: relative;">
                                <h3 class="card-title with_subtitle"><a class="stretched-link" href=/database/actors/{{ actor.id }}>{{ actor.name }}</a></h3>
                                <p class="card-text">{{ actor.blurb }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>
            {% if pc.member_of.all %}<h2 class="dark">Featured In:</h2>
            {% for party in pc.member_of.all %}
                {% for campaign in party.campaigns.all %}
                    <div class="card_md rounded-start dark-background" >
                        <div class="row" style="max-width: 100%; height: inherit">
                            <div class="col-md-5 my-auto">
                                <img class="img-fluid rounded-start" style="width:200px; height: 200px; object-fit: cover;" src={{ campaign.image_url }}>
                            </div>
                            <div class="col-md-7 my-auto">
                                <div class="card-body" style="height: inherit; position: relative;">
                                    <h4 class="card-title with_subtitle overflow-1"><a class="stretched-link" href=/database/campaigns/{{ campaign.id }}>{{ campaign.title }}</a></h4>
                                    <p class="subtitle overflow-1">
                                        <small>
                                            {% for producer in campaign.produced_by.all %}
                                                <a style="position: relative;" class="stretched-link"
                                                   href=/database/producers/{{ producer.id }}>{{ producer.name }}</a>
                                                {% if not forloop.last %},&nbsp{% endif %}
                                            {% endfor %}
                                        </small>
                                    </p>
                                    <p class="card-text">{{ campaign.blurb }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% endfor %}{% endif %}
            {% if pc.guest_of.all%}
                <h2 class="dark">Guest Of:</h2>
                {% for campaign in pc.guest_of.all %}
                    <div class="card_md rounded-start dark-background" >
                        <div class="row" style="max-width: 100%; height: inherit">
                            <div class="col-md-5 my-auto">
                                <img class="img-fluid rounded-start" style="width:200px; height: 200px; object-fit: cover;" src={{ campaign.image_url }}>
                            </div>
                            <div class="col-md-7 my-auto">
                                <div class="card-body" style="height: inherit; position: relative;">
                                    <h4 class="card-title with_subtitle overflow-1"><a class="stretched-link" href=/database/campaigns/{{ campaign.id }}>{{ campaign.title }}</a></h4>
                                    <p class="subtitle overflow-1">
                                        <small>
                                            {% for producer in campaign.produced_by.all %}
                                                <a style="position: relative;" class="stretched-link"
                                                   href=/database/producers/{{ producer.id }}>{{ producer.name }}</a>
                                                {% if not forloop.last %},&nbsp{% endif %}
                                            {% endfor %}
                                        </small>
                                    </p>
                                    <p class="card-text">{{ campaign.blurb }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock pc_page %}