{% extends 'base_template.html' %}
{% block publisher_page %}
<div class="body-container">
    <div class="row no-gutters">
        <form method="post">
            {% csrf_token %}
            <div class="page-buttons">
                <button name="previousEnt" type="submit">Previous Publisher</button>
                <button name="nextEnt" type="submit">Next Publisher</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="row no-gutters">
        <div class="col-5">
            <h1 class="dark">{{ publisher.name }}</h1>
            <img class="model-img" src={{ publisher.image_url }}>
            <a class="subtitle" href='{% url 'edit_model' entity='publisher' ent_id=publisher.id %}'>Edit Publisher</a>
            <p class="dark">{{ publisher.blurb|safe}}</p>
        </div>
        <div class="col-7">
            <div class="card-buttons">
                <button>Follow Publisher</button>
            </div>
            <h2 class="dark">Systems:</h2>
            {% for system in publisher.systems.all %}
                <div class="card_md rounded-start dark-background" >
                    <div class="row" style="max-width: 100%; height: inherit">
                        <div class="col-md-5 my-auto">
                            <img class="img-fluid rounded-start" style="width:200px; height: 200px; object-fit: cover;" src={{ system.image_url }}>
                        </div>
                        <div class="col-md-7 my-auto">
                            <div class="card-body" style="height: inherit; position: relative;">
                                <h4 class="card-title with_subtitle overflow-1"><a class="stretched-link" href=/database/systems/{{ system.id }}>{{ system.name }}</a></h4>
                                <p class="card-text">{{ system.blurb|safe}}</p>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock publisher_page %}