{% extends "base_template.html" %}

{% block database_main %}
    <ul>
        <li>
            <h1><a href={% url 'database_page' entity='campaigns' %}>Campaigns</a></h1>
        </li>
        <li>
            <h1><a href={% url 'database_page' entity='actors' %}>Actors</a></h1>

        </li>
        <li>
            <h1><a href={% url 'database_page' entity='pcs' %}>PCs</a></h1>
        </li>
        <li>
            <h1><a href={% url 'database_page' entity='parties' %}>Parties</a></h1>
        </li>
        <li>
            <h1><a href={% url 'database_page' entity='producers' %}>Producers</a></h1>
        </li>
        <li>
            <h1><a href={% url 'database_page' entity='systems' %}>Systems</a></h1>
        </li>
        <li>
            <h1><a href={% url 'database_page' entity='publishers' %}>Publishers</a></h1>
        </li>
    </ul>
{% endblock database_main %}