{% extends 'database_template.html' %}

{% block parties %}
<h1>Party Page</h1>
<div style="background-color: #4ab08e">
    <div class="row">
        <div class="col-2" style="background-color: #262322">
            <p></p>
        </div>

        <div class="col-8">
            <a href={% url 'add_model' entity='party' %} class="database-header-link">Add New Party</a>
            {% for party in parties %}
                <div class="card dark-background" style="max-width: 95%; height: 400px">
                    <div class="row" style="max-width: 100%; height: inherit">
                        <div class="col-md-5 my-auto">
                            <img class="img-fluid rounded-start" style="width: 100%; height:395px; object-fit: cover" src={{ party.image_url }}>
                        </div>
                        <div class="col-md-7 my-auto">
                            <div class="card-body" style="height: inherit">
                                <h3 class="card-title with_subtitle"><a class="stretched-link" href=/database/parties/{{ party.id }}>{{ party.name }}</a></h3>
                                {% if party.campaigns.all %}
                                    <p class="subtitle">(
                                        {% for campaign in party.campaigns.all|slice:"0:3" %}
                                            {% if forloop.counter < 3%}
                                                <a style="position: relative;" class="stretched-link" href=/database/campaigns/{{ campaign.id }}>{{ campaign.title }}</a>{% if not forloop.last %},{% endif %}
                                            {% elif forloop.counter >= 3 %}
                                                <a style="position: relative;" class="stretched-link" href=/database/parties/{{ party.id }}>and more...</a>
                                            {% endif %}
                                        {% endfor %}
                                    )</p>
                                {% endif %}
                                <p class="card-text">{{ party.blurb|safe}}</p>
                                <div class="row">
                                    <h5>Members:</h5>
                                    <div class="grid_one-row">
                                        {% for pc in party.members.all %}
                                            <div style="position: relative;" class="card_sm">
                                                <div class="card-header" style="text-align: center">
                                                    <a class="stretched-link" href=/database/pcs/{{ pc.id }}>{{ pc.name }}</a>
                                                </div>
                                                <div class="card-body"><img class="card-img_sm" src={{ pc.image_url }}></div>
                                            </div>
                                        {% endfor %}
                                        {% for campaign in pc.guest_of.all %}
                                            <div style="position: relative;" class="card_sm">
                                                <div class="card-header" style="text-align: center">
                                                    <a class="stretched-link" href=/database/campaigns/{{ campaign.id }}>{{ campaign.title }}</a>
                                                </div>
                                                <div class="card-body"><img class="card-img_sm" src={{ campaign.image_url }}></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="col-2" style="background-color: #262322">
            <p></p>
        </div>
    </div>
</div>
{% endblock parties %}