{% extends 'database_template.html' %}

{% block producers %}
<h1>Producer Page</h1>

<div class="body-container">
    <a href={% url 'add_model' entity='producer' %} class="database-header-link">Add New Producer(s)</a>
    {% for producer in producers %}
        <div class="card dark-background" style="max-width: 95%; height: 400px">
            <div class="row" style="max-width: 100%; height: inherit">
                <div class="col-md-5 my-auto">
                    <img class="img-fluid rounded-start" style="width: 100%; height:395px; object-fit: cover" src={{ producer.image_url }}>
                </div>
                <div class="col-md-7 my-auto">
                    <div class="card-body" style="height: inherit">
                        <h3 class="card-title with_subtitle"><a class="stretched-link" href=/database/producers/{{ producer.id }}>{{ producer.name }}</a></h3>
                        {% if producer.medium %}<p class="subtitle">({{ producer.medium }})</p>{% endif %}
                        <p class="card-text">{{ producer.blurb|safe}}</p>
                        <div class="row">
                            <h5>Campaigns:</h5>
                            <div class="grid_one-row">
                                {% for campaign in producer.campaigns.all %}
                                    <div style="position: relative;"  class="card_sm">
                                        <div class="card-header" style="text-align: center">
                                            <a class="stretched-link" href=/database/campaigns/{{ campaign.id }}>{{ campaign.title }}</a>
                                        </div>
                                        <div class="card-body"><img class="card-img_sm" src={{ campaign.image_url }}></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <br>
</div>
{% endblock producers %}