<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light px-lg-3">
    <a class="navbar-brand" href="#">iAPDb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex w-100">
            <li class="nav-item active">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="database/">Database</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="/members/{{ user.id }}/inbox">Inbox</a>
                    <a class="nav-link" href="/members/logout">Logout</a>
                {% else %}
                    <a class="nav-link" href="/members/login">Login</a>
                {% endif %}
            </li>
        </ul>
        <form class="form-inline" style="width: 50%" method="POST" action="{% url 'search_results' %}">
            {% csrf_token %}
            <div class="input-group">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searched" aria-label="Search">
                <select name="entity_type" id="entity_type">
                    <option value="all" selected="selected">All</option>
                    <option value="campaigns">Campaigns</option>
                    <option value="actors">Actors</option>
                    <option value="pcs">PCs</option>
                    <option value="parties">Parties</option>
                    <option value="producers">Producers</option>
                    <option value="systems">Systems</option>
                    <option value="publishers">Publishers</option>
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>

    </div>
</nav>


